
.container-contact {
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom:40px;
  }
  
  h1 {
    color: #007bff;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    &:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
  }
  @media (max-width: 768px) {
    .container-contact {
      padding: 20px;
    }
  }
  